@keyframes fadeIn {
    from {
      color: rgba(0, 0, 0, 0);
    }
    to {
      color: rgba(255,255,255, 1);
    }
  }

  .code-example-container {
    position: relative;
    z-index: 1;
    background-color: #0000005b;
    color: #fff;
    padding: 5px;
    max-width: 600px;
    border-radius: 1vh;
    margin: 25vh auto 0 auto;
    border-style: solid;
    border-width: 0.1vh;
  }

.fade-in {
    animation-delay: 0.5s;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fade-in-delay {
    animation-delay: 1s;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.transparent{
    color: rgba(255,255,255,0);
}

.nowrap{
    white-space: nowrap;
}

.transition{
    transition: 0.8s;
}

.middle{
    position: absolute;
    top: 32.5vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.footnote{
    font-size: 12px;
    position: absolute;
    top: 95vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.opaque{
    color: rgb(255,255,255,0.3);
}

.big{
    font-size: 4.93vh;
}

.inter{
    font-family: "Inter";
}

.top-middle{
    position: absolute;
    top: 15vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.bold{
    font-weight: 700;
}

.semibold{
    font-weight: 600;
}

.regular{
    font-weight: 400;
}

.white{
    color: white;
}

.align-center{
    text-align: center;
}
